.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30% 50px 0 50px;
}

.contactHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.contactHeader h1 {  
    margin-bottom: 5px;
}

.contactHeader p {  
    max-width: 500px;
}

.contactHeader span {  
    color:indianred;
}